<div class="container">
    <div class="footer__inner">
        <!-- Footer column 1 -->
        <div class="footer__col">
            <h3 class="footer__heading">About Us</h3>
            <p class="footer__desc">
                We want to bring wonderful products created by people of the heart and spread these
                beautiful values ​​to every corner of the world.
            </p>
            <h4 class="footer__sub-heading">Suvscribe More Info</h4>
            <form action="" class="footer__form">
                <div class="footer__form-group">
                    <div class="footer__form-text-input">
                        <img
                            src="./assets/icon/email.svg"
                            alt=""
                            class="footer__form-input-icon icon"
                        />
                        <input
                            type="email"
                            placeholder="Enter Your Email"
                            class="footer__form-input"
                        />
                    </div>
                    <button class="btn--primary footer__form-btn">Subscribe</button>
                </div>
            </form>
        </div>
        <!-- Footer column 2 -->
        <div class="footer__col">
            <h3 class="footer__heading">All Department</h3>
            <ul class="footer__list">
                <li class="footer__item">
                    <a href="#!" class="footer__link">Savings & Featured Shops</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Electronics</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Personal Care</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Movies, Music & Books</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Baby</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Sports & Outdoors</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Home Improvement</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Gift Cards</a>
                </li>
            </ul>
        </div>
        <!-- Footer column 3 -->
        <div class="footer__col">
            <h3 class="footer__heading">Helpful Links</h3>
            <ul class="footer__list">
                <li class="footer__item">
                    <a href="#!" class="footer__link">Services</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Supports</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Terms & Conditon</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Privacy Policy</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Exchange</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Return The Product</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Refund</a>
                </li>
            </ul>
        </div>
        <!-- Footer column 4 -->
        <div class="footer__col">
            <h3 class="footer__heading">Contact Us</h3>
            <ul class="footer__list">
                <li class="footer__item">
                    <a href="tel:+840999999999" class="footer__link">
                        <img src="./assets/icon/smartphone.svg" alt="" class="footer__link-icon" />
                        +840999999999
                    </a>
                </li>
                <li class="footer__item">
                    <a href="emailto:grocerymart@gmail.com" class="footer__link">
                        <img src="./assets/icon/email.svg" alt="" class="footer__link-icon" />
                        grocerymart@gmail.com
                    </a>
                </li>
                <li class="footer__item">
                    <label for="">
                        <img src="./assets/icon/Location.svg" alt="" class="footer__link-icon" />
                        <p class="footer__address">
                            No. 11D, Lot A10, Nam Trung Yen urban area, Yen Hoa Ward, Cau Giay
                            District, City. Hanoi
                        </p>
                    </label>
                </li>
                <div class="socials">
                    <a href="#!" class="social">
                        <img
                            src="./assets/icon/facebook.svg"
                            alt="facebook"
                            class="social__brand"
                        />
                    </a>
                    <a href="#!" class="social">
                        <img src="./assets/icon/linked.svg" alt="facebook" class="social__brand" />
                    </a>
                    <a href="#!" class="social">
                        <img src="./assets/icon/twitter.svg" alt="facebook" class="social__brand" />
                    </a>
                    <a href="#!" class="social">
                        <img
                            src="./assets/icon/instagram.svg"
                            alt="facebook"
                            class="social__brand"
                        />
                    </a>
                </div>
            </ul>
        </div>
    </div>
    <div class="footer__bottom">
        <a href="#!" class="logo">
            <img src="./assets/icon/logo.svg" alt="grocerymart" class="logo__img" />
            <h1 class="logo__title">grocerymart</h1>
        </a>

        <p class="copyright">© 2010 - 2025 Grocery Mart. All rights reserved.</p>
    </div>
</div>
